<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Alle Konflikte</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<div class="container">

	<table class="product-details">
		<tr>
			<th>Besitzer</th>
			<th>Ausleiher</th>
			<th>Artikel</th>
			<th></th>
		</tr>
		<tr th:each="konflikt : ${konflikte}">
			<td th:text="${konflikt.item.besitzer.username}"></td>
			<td th:text="${konflikt.ausleiher.username}"></td>
			<td th:text="${konflikt.item.titel}"></td>
			<td><a th:href="@{'/conflict/' + ${konflikt.id}}">Zum Konflikt</a></td>
		</tr>
	</table>
</div>

</body>
</html>
