<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="../static/css/navbar :: style">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Artikeldetails</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<container class="container px-lg-5">
	<div class="row mx-lg-n5 product-details-row">
		<div>
			<form th:action="@{/details/verkauf/{ArtikelId}(ArtikelId=${artikel.id})}" th:object="${artikel}" method="post">
				<table class="product-details">
					<tr>
						<td><h2 th:text="${artikel.titel}">ITEM</h2></td>
						<td><a target="_blank"
							   th:href="@{'data:image/jpg;base64,'+${artikel.getPictureBase64EncodedString()}}"><img
								th:if="${artikel.picture100 != null and artikel.getPicture100Base64EncodedString()!=null}"
								th:src="@{'data:image/jpg;base64,'+${artikel.getPicture100Base64EncodedString()}}"
								th:width="60px"
								th:height="60px"/></a></td>
						<td th:if="${user.isAdmin() or user.isOwner(artikel)}">
							<input name="newTitle" type="text" th:field="*{titel}" id="titel">
							<div th:text="${titelErrors?.code}"></div>
						</td>
					</tr>
					<tr>
						<td>Beschreibung</td>
						<td th:text="${artikel.beschreibung}"></td>
						<td th:if="${user.isAdmin() or user.isOwner(artikel)}">
							<input name="newBeschreibung" type="text" th:field="*{beschreibung}" id="beschreibung">
							<div th:text="${beschreibungErrors?.code}"></div>
						</td>
					</tr>
					<tr>
						<td>Kaufpreis</td>
						<td th:text="${artikel.kaufpreis} + &euro;"></td>
						<td th:if="${user.isAdmin() or user.isOwner(artikel)}">
							<input name="newKaufpreis" type="number" step="1" min="0" th:field="*{kaufpreis}"
								   id="kaufpreis">
							<div th:text="${kaufpreisErrors?.code}"></div>
						</td>
					</tr>
					<tr>
						<td>Standort</td>
						<td th:text="${artikel.abholort.beschreibung}"></td>
						<td th:if="${user.isAdmin() or user.isOwner(artikel)}">
							<input name="newAbholortBeschreibung" type="text" th:field="*{abholort.beschreibung}"
								   id="abholort">
							<div th:text="${abholortErrors?.code}"></div>
						</td>
					</tr>
					<tr>
						<td>Verkäufer</td>
						<td><a th:href="@{../../profil/{benutzerID} (benutzerID=${artikel.besitzer.id})}"
							   th:text="${artikel.besitzer.vorname +' ' + artikel.besitzer.nachname}"></a>
						</td>
						<td th:if="${user.isAdmin() or user.isOwner(artikel)}">
							<button type="submit" value="true" name="editArtikel">Artikel Ändern</button>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/liste">Zurück</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div>
			<div id="mapid" class="product-details-map">map is here</div>
		</div>
	</div>
</container>

<script th:inline="javascript">

    /*<![CDATA[*/
    var longitude = /*[[${artikel.abholort.longitude}]]*/;
    var latitude = /*[[${artikel.abholort.latitude}]]*/;
    var map = L.map('mapid').setView([latitude, longitude], 13);
    mapLink =
        '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
    var message = /*[[${artikel.abholort.beschreibung}]]*/
        L.marker([latitude, longitude]).addTo(map)
            .bindPopup(message).openPopup();
    /*]]>*/



</script>
</body>
</html>