<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/css/style :: formatting">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Artikeldetails</title>
</head>
<body>
<nav th:replace="../static/css/style :: main-menu">menu</nav>
<h1 th:text="${artikel.titel}">Titel</h1>
<table id="items">
	<tr>
		<th>Beschreibung</th>
		<th>Verfügbarkeit ab</th>
		<th>Verfügbar bis</th>
		<th>Tagessatz</th>
		<th>Kaution</th>
		<th>Standort</th>
		<th>Verleihender</th>
		<th th:if="${user.isAdmin()}">Artikel bearbeiten (Nur Admins)</th>
	</tr>
	<tr>
		<td th:text="${artikel.beschreibung}">Beschreibung</td>
		<td th:text="${artikel.availableFrom.format(dateformat)}">Verfügbar ab</td>
		<td th:text="${artikel.availableTill.format(dateformat)}">Verfügbar bis</td>
		<td th:text="${artikel.tagessatz} + &euro;">Tagessatz</td>
		<td th:text="${artikel.kautionswert} + &euro;">Kaution</td>
		<td th:text="${artikel.abholort.beschreibung}">Standort</td>
		<td><a th:href="@{/profil/{besitzerId} (besitzerId=${artikel.besitzer.getId()})}"
			   th:text="|${artikel.besitzer.getVorname()} ${artikel.besitzer.getNachname()}|"><p>Name</p></a>
		</td>
		<td th:if="${user.isAdmin()}"><a href="artikelBearbeitenAdmin.html"
										 th:href="@{bearbeiten/artikel/{artikelID} (artikelID=${artikel.getId()})}">Bearbeiten</a>
		</td>
	</tr>
</table>
<br>
<a href="/liste">Zurück</a>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>