<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Alle Konflikte</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>

<p>Besitzer: <a th:href="@{/profil/{benutzerID} (benutzerID=${konflikt.item.besitzer.id})}" th:text="${konflikt.item.besitzer.username}"></a></p>
<p>Ausleiher: <a th:href="@{/profil/{benutzerID} (benutzerID=${konflikt.ausleiher.id})}"  th:text="${konflikt.ausleiher.username}"></a></p>
<p>Item: <a th:href="@{'/details/' + ${konflikt.item.id}}" th:text="${konflikt.item.titel}"></a></p>

<form action="#" method="post" th:action="@{|/admin/conflict/${konflikt.id}|}">
	<button name="entscheidung" type="submit" value="verwerfen">Konflikt verwerfen</button>
	<button name="entscheidung" type="submit" value="bestrafen">Ausleiher bestrafen</button>
</form>

</body>
</html>
