<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Artikeldetails</title>
</head>
<body>
<form method="POST" id="neuerArtikel"></form>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1 class="card-title" th:text="${artikel.titel}">Titel</h1>
        <p class="card-text">Beschreibung:</p>
        <textarea form="neuerArtikel" cols="35" rows="4"></textarea>
        <p class="card-text">Verfügbarkeit:</p>
        <p class="card-text" th:text="${artikel.verfuegbarkeit}">Verfügbarkeit</p> <!--TODO: Wie speichert man die Verfügbarkeit?--> 
        <p class="card-text">Tagessatz:</p>
        <input type="number" form="neuerArtikel" cols="35" rows="4">
        <p class="card-text">Kaution:</p>
		<input type="number" form="neuerArtikel" cols="35" rows="4">
        <p class="card-text">Standort:</p>
		<textarea form="neuerArtikel"></textarea>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>