<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title th:text="${'Profil von ' + person.username}">Profil von xxx</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<h1>
	<div th:text="${'Profil von ' + person.username}">siker102</div>
</h1>
<h4>
	<div th:text="${'Name: ' + person.vorname + ' ' + person.nachname}">Simon Kerkmann</div>
</h4>
<a th:if="${isOwnProfile}" href="/editProfil" th:text="edit"></a>
</body>
</html>