<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<h1>Neues Konto Erstellen</h1>

<table id="items">
	<form th:action="@{/register}" th:object="${userForm}" method="post">
		<div><input name="vorname" type="text" th:value="*{vorname}">Vorname</div>
		<div><input name="nachname" type="text" th:value="*{nachname}">Nachname</div>
		<div><input name="email" type="email" th:value="*{email}">EMail</div>
		<div><input name="username" type="text" th:value="*{username}">Username</div>
		<div th:if="${usernameTaken}" style="color:red;">Username vergeben</div>
		<div><input name="password" type="password" th:value="*{password}">Password</div>
		<div>
			<button type="submit" class="btn btn-primary">Erstellen</button>
		</div>
	</form>
</table>

</body>
</html>