<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<div class="container">
	<h1>Neues Konto Erstellen</h1>

	<table class="table table-hover" id="items">
		<form th:action="@{/register}" th:object="${userForm}" method="post">
			<div>
				<input name="vorname" type="text" th:value="*{vorname}">Vorname
				<div id="error" th:text="${vornameErrors?.code}"></div>
			</div>
			<div>
				<input name="nachname" type="text" th:value="*{nachname}">Nachname
				<div id="error" th:text="${nachnameErrors?.code}"></div>
			</div>
			<div>
				<input name="username" type="text" th:value="*{username}">Username
				<div id="error" th:text="${usernameErrors?.code}"></div>
			</div>
			<input name="password" type="password" th:value="*{password}">Password
			<div id="error" th:text="${passwordErrors?.code}"></div>
			<div>
				<input name="email" type="text" th:value="*{email}">Email
				<div id="error" th:text="${emailErrors?.code}"></div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Erstellen</button>
			</div>
		</form>
	</table>
</div>

</body>
</html>