<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Startseite</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<div th:if="${user == null}">
	<h2>Bitte loggen Sie sich ein oder registrieren Sie sich.</h2>
</div>
<div th:if="${user != null}">
	<h2>
		<div th:text="${'Willkommen, ' + user.vorname + ' ' + user.nachname + '!'}">Willkommen!</div>
	</h2>
	<a href="/liste">Artikel durchstöbern</a><br>
	<a href="/newitem">Neuen Artikel verleihen</a><br>
	<a href="/newlocation">Neuen Abholort hinzufügen</a>
	<br>
	<br>
	<h3 th:text="${message}"></h3>
</div>
</body>
</html>