<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="../static/css/navbar :: style">
	<meta charset="UTF-8">
	<title>Startseite</title>
</head>
<body>
<nav th:replace="../static/css/navbar :: main-menu">menu</nav>
<h2>
	<div th:text="${'Willkommen, ' + user?.vorname + ' ' + user?.nachname + '!'} ?: 'Bitte loggen sie sich ein oder registrieren sie sich.'">
		Bitte loggen sie sich ein oder registrieren sie sich.
	</div>
</h2>
<div th:if="${user != null}">
	<a href="/liste">Artikel durchstöbern</a><br>
	<a href="/newitem">Neuen Artikel verleihen</a><br>
	<a href="/newlocation">Neuen Abholort hinzufügen</a>
	<br>
	<h3 th:text="${message}"></h3>
</div>
</body>
</html>